.primary-nav {

    padding-top: 0.625rem;

    @mixin atMedium {
        padding-top: 0;
    }

    &--pull-right {
        @mixin atMedium {
            float: right;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
        list-style: none;
        padding-right: 0.4375rem;
        display: inline-block;

        @mixin atMedium {
            padding-right: 1.25rem;
            float: left;
            display: block;
        }
    }

    li:last-child {
        padding-right: 0;

        @mixin atMedium {
            padding-right: 1.25rem;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 300;
        display: block;
        padding: 0.3125rem 0.5rem;
        background-color: rgba($mainBlue, .5);

        @mixin atMedium {
            font-size: 1rem;
            padding: 0.75rem 0;
            background-color: transparent;
        }
    }
}